.headerContainer {
  height: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
}

.cartPanel {
  position: absolute;
  top: 100%;
  right: 0;
  background-color: white;
  border: 1px solid #ccc;
  padding: 20px;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  min-width: 350px;
}